node_modules/
dist/
dist-lite/
out/
build/
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
buildResources/icon.png
buildResources/icon.ico
buildResources/icon.icns
buildResources/icon.iconset/
vendor/mpv/*
!vendor/mpv/README.md
